/* general and utility edits***************** */

* {
    margin: 0;
    padding: 0;
}

h3{
    text-align: center;
    background-color: maroon;
    color: white;
}

/* navbar edits ****************************** */

.navbar {
    background-color: black;
    padding: 15px;
    color: white;
}
.navLinks a {
    color: white;
}

/* about me edits ************************** */

.about {
    padding: 15px;
}
.about p {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
.selfImg {
    display: flex;
    justify-content: space-evenly;
    height: 200px;
}
.selfImg img{
    border-radius: 30%;
}

/* project edits ******************************** */

.projectsContainer {
    padding: 15px;
}
.projects {
    align-content: center;
}
.projectDivider {
    display: flex;
}
.projects img {
    height: 100px;
}

/* resources ********************************* */

.resources {
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}
.resources img {
    height: 50px;
}