/* general and utility edits***************** */

* {
    margin: 0;
    padding: 0;
}

h3{
    text-align: center;
}
/* Navbar edits ****************************** */

.navbar {
    background-color: aqua;
    padding: 15px;
}

/* about me edits ************************** */

.about {
    /* background-color: pink; */
    padding: 15px;
}
.about p {
    text-align: center;
}
.selfImg {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
}

/* project edits ******************************** */

.projectsContainer {
    /* background-color: gray; */
    padding: 15px;
}
.projectDivider {
    display: flex;
}
.projects img {
    height: 100px;
}

/* resources ********************************* */

.resources {
    /* background-color: aqua; */
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}
.resources img {
    height: 50px;
}